article {
    border: 1px solid #000;
    display: flex;
    background: #ececec;
    justify-content: space-around;
    align-items: stretch;
    height: 300px;
}

.elemento {
    color: #000;
    text-align: center;
    margin: 1px;
    width: 30%;
}

.elem_01 {
    background-color: lightgreen;
    align-self: flex-end;
}

.elem_02 {
    background-color: greenyellow;
}

.elem_03 {
    background-color: turquoise;
}

.elem_04 {
    background-color: lightblue;
}

.elem_05 {
    background-color: paleturquoise;
}